.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth form {
  display: flex;
  justify-content: center;
}

.auth label {
  font-size: 0.7em;
  display: block;
}

.auth input {
  display: block;
  padding: 10px;
  border: 1px dotted orange;
  width: 200px;
  font-family: 'Space Mono', monospace;
}

.auth textarea {
  width: 200px;
  padding: 10px;
  border: 1px dotted orange;
  margin: 5px;
}
